:root {
    --colors: violet;
}

#name {
    color: var(--colors);
    font-size: 1rem;
}

#wife {
    color: var(--colors);
    font-size: 40px;
}

.testPX {
    width: 10vw;
    height: 10vh;
    background-color: green;
}